// * Colors
$color-white: #fff;
$color-primary: #464646;
$color-secondary: #565656;
$color-green: #5AA723;
$color-black: #000;
$color-dark: #2d2d2d;
$color-dark-2: #1a1a1a;
$color-grey: #83838380;
$color-grey-2:  rgba(45, 45, 45, 0.5);
$color-blue: #0093ff;

// * Background Colors
$bg-yellow: #FEDB57;
$bg-yellow-2: #FFCA02;
$bg-green: #20982D;
$bg-white: #e5e5e5;
$bg-green-2: #138720;


// * Shape Colors
$shape-color-1:#C4C4C480;

// * Shadows
$box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.1);

// * Sizes
$border-radius-1: 6px;
$border-radius-2:6px 6px 0px 0px;
$border-radius-3: 4px;
$border-radius-4: 10px;

