.container{
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
    @include responsive(lg){
        max-width: 95vw;
    }
    @include responsive(md){
        max-width: 93vw;
    }
    @include responsive(sm){
     max-width: 95vw;           
    }
}