.footer {
    &__top {
        padding: 18px 0;
        width: 100%;
        background-color: $color-green;
        margin-top: 20px;
    }
    padding-bottom: 25px;
    &__right {
        @include flex(center, center, column);

        .footer__for-admin {
            font-size: 18px;
            font-family: "Poppins", sans-serif;
            transition: .2s ease;
            cursor: pointer;
            padding: 10px;
            border-radius: 8px;
            border: 1px solid rgba(0,0,0,.6);
            &:hover , &:active {
                background-color: #202020;
                color: #fff;
            }
            @include responsive(xxs){
                order: 1;
            }
            @include responsive(xxxs){
                font-size: 16px;
            }
        }
        @include responsive(xxs){
            align-items: flex-start;
        }
    }

    &__content {
        @include flex(center, flex-start, column);
        width: 100%;
        margin-top: 20px;
    }

    &__main {
        @include flex(space-between, center, row);
        width: 100%;

        @include responsive(xxs) {
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
        }
        @include responsive(xxxs) {
            padding-left: 15px;
        }

        &-socials {
            @include flex(flex-start, center, row);
            align-self: flex-end;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 15px;
               
                &:first-child{
                    @include responsive(xxs){
                        margin-left: 0;
                    }
                }

                @include responsive(md) {
                    width: 30px;
                    height: 30px;
                }

                @include responsive(sm) {
                    width: 25px;
                    height: 25px;
                }

                @include responsive(xxs) {
                    margin-left: 25px;
                }

                @include responsive(xxxs) {
                    margin-left: 0;
                    margin-right: 30px;
                }

                img {
                    width: 100%;
                    height: 100%;

                }
            }

            @include responsive(lg) {
                margin-right: 40px;
            }

            @include responsive(md) {
                margin-right: 0px;
            }

            @include responsive(sm) {
                margin-right: 0px;
            }

            @include responsive(xs) {
                margin-right: 0px;
            }

            @include responsive(xxs) {
                margin-right: 0px;
            }

            @include responsive(xxxs) {
                margin-right: 0;
                @include flex(flex-start, center, row);
                width: 100%;
                margin-top: 0px;
            }

        }
    }

    &__address {
        img {
            margin-bottom: 5px;
        }

        &-title {
            font-size: 1.1rem;
            font-weight: 400;
            width: 50%;
            margin-bottom: 8px;
            font-family: "Rubik", sans-serif;

            @include responsive(md) {
                font-size: 1rem;
                margin-bottom: 10px;
            }

            @include responsive(sm) {
                margin-bottom: 8px;
            }
            @include responsive(xs) {
                width: 100%;
            }
            @include responsive(xxs) {
                width: 50%;
            }
            @include responsive(xxxs) {
                width: 100%;
            }
        }

        &-phone {
            @include flex(flex-start, center, row);

            span {
                font-size: 18px;
                font-weight: 500;
                font-family: "Poppins", sans-serif;

                @include responsive(sm) {
                    font-size: 16px;
                }
            }

            i {
                transform: rotate(90deg);
                margin-right: 10px;

                @include responsive(sm) {
                    margin-right: 7px;
                    font-size: 16px;
                }
            }
        }
    }

    &__subtitle {
        text-align: center;
        color: rgba(0, 0, 0, .8);
        font-size: 18px;
        margin-top: 40px;
        width: 100%;
        font-weight: 400;
        font-family: "Rubik", sans-serif;

        @include responsive(lg) {
            margin-top: 35px;
        }

        @include responsive(md) {
            margin-top: 30px;
            font-size: 17px;
        }

        @include responsive(sm) {
            margin-top: 20px;
            font-size: 16px;
        }

        @include responsive(xs) {
            margin-top: 25px;
        }

        @include responsive(xxxs) {
            margin-top: 30px;
        }
    }
}