.header {
    &__navbar {
        width: 100%;
        @include flex(space-between, flex-start, column);

        @include responsive(xs) {
            flex-direction: row;
            align-items: center;
        }
    }

    &__brand {
        font-family: "Rubik", sans-serif !important;
        font-weight: 500;
        width: 100%;
        padding: 15px 0;
        color: $color-primary;

        @include responsive(xs) {
            padding: 12px 0;
        }

        .container {
            @include flex(space-between, center, row);
        }

        &-left {
            @include flex(space-between, center, row);

        }

        &-right {
            @include flex(space-between, center, row);
        }
    }

    &__logo {
        @include flex(center, center, row);
        text-align: center;
        color: $color-black;
        margin-right: 30px;

        @include responsive(xs) {
            margin-right: 0;
            margin-left: 15px;
        }
    }

    &__location {
        @include flex(space-between, center, row);
        line-height: 16px;
        color: $color-primary;

        @include responsive(xs) {
            display: none;
            color: #000;
        }

        i,
        span {
            color: inherit;
        }

        i {
            font-size: 18px;
            margin-right: 10px;

            @include responsive(sm) {
                margin-right: 8px;
            }

            @include responsive(sm) {
                font-size: 16px;
            }

            @include responsive(xs) {
                font-size: 20px;
            }
            @include responsive(xxxs){
            font-size: 18px;
            }
        }

        span {
            font-weight: 500;
            font-size: 17px;
            color: $color-primary;

            @include responsive(sm) {
                font-size: 16px;
            }

            @include responsive(xs) {
                color: #000;
                font-size: 20px;
            }
            @include responsive(xxxs){
            font-size: 18px;
            }
        }

    }

    &__phone {
        @include flex(space-between, center, row);
        line-height: 16px;
        margin-right: 20px;

        i {
            margin-right: 12px;
            transform: rotate(90deg);

            @include responsive(sm) {
                font-size: 15px;
            }

            @include responsive(xs) {
                margin-right: 8px;
                font-size: 20px;
            }

            @include responsive(xxxs) {
                font-size: 18px;
            }
        }

        span {
            @include responsive(sm) {
                font-size: 15px;
            }

            @include responsive(xs) {
                font-size: 20px;
                font-weight: 500;
            }
            @include responsive(xxxs){
            font-size: 18px;
            }
        }

        @include responsive(xs) {
            display: none;
        }
    }

    &__language {
        span {
            margin-left: 4px;

            @include responsive(xs) {
                font-weight: 500;
                font-size: 20px;
            }

            @include responsive(xxxs) {
                font-size: 18px;
            }
        }

        i {
            @include responsive(sm) {
                font-size: 20px;
            }

            @include responsive(xxxs) {
                font-size: 18px;
            }
        }

        @include responsive(xs) {
            display: none;
        }
    }

    &__menu-close {
        display: none;
        position: absolute;
        font-size: 35px;
        color: #000;
        top: 30px;
        left: 30px;
        cursor: pointer;
        padding: 10px;
        @include responsive(xxxs){
         font-size: 28px;   
        }
        @include responsive(ss){
         font-size: 24px;
         top: 6px;
         left: 20px;   
        }
    }

    &__korzinka {
        @include flex(center, center, row);
        color: $color-white;
        font-size: 20px;
        font-family: "Rubik", sans-serif;
        display: none;

        @include responsive(md) {
            font-size: 18px;
        }

        @include responsive(xs) {
            margin-right: 25px;
        }

        i {
            margin-right: 8px;
            font-size: 20px;
            position: relative;

            @include responsive(sm) {
                font-size: 18px;
            }

            @include responsive(xs) {
                color: #000;
            }

            &::after {
                content: "";
                position: absolute;
                height: 8px;
                width: 8px;
                background-color: rgb(255, 0, 51);
                border-radius: 50%;
                top: -1px;
                right: 0px;
            }
        }

        h4 {
            font-weight: 500;
            @include flex(space-between, center, row);

            @include responsive(xs) {
                color: #000;
            }

            span {
                font-weight: 400;
                font-size: 18px;

                @include responsive(sm) {
                    font-size: 16px;
                }

                @include responsive(xs) {
                    font-size: 18px;
                }
            }
        }
    }

    &__menu-icon {
        display: none;
        font-size: 24px;
        color: #000;
        cursor: pointer;
    }

    &__main {
        width: 100%;
        height: 100vh;
        background-image: url("/image/home/header/header-img-3.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: color;
        background-color: rgba(0, 0, 0, 0.64);
        background-attachment: fixed;

        @include responsive(lg) {
            background-position: 43%;
            height: 85vh;
        }

        @include responsive(md) {
            background-position: 50%;
            height: 55vh;
        }

        @include responsive(sm) {
            height: 55vh;
        }

        @include responsive(xs) {
            height: 55vh;
        }
        @include responsive(xxxs){
         height: 50vh;   
        }
        @include responsive(ss){
         height: 65vh;   
        }

        &-info {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            height: 80%;

            @include responsive(lg) {
                height: 90%;
            }

            @include responsive(xs) {
                height: 100%;
            }
        }

        &-title {
            font-size: 5.5rem;
            font-family: 'Bebas Neue', cursive;
            color: #fff;
            font-weight: 500;
            margin-bottom: 30px;
            height: 5.5rem;

            @include responsive(xl) {
                font-size: 5rem;
            }

            @include responsive(lg) {
                font-size: 4.5rem;
                margin-bottom: 25px;
            }

            @include responsive(md) {
                font-size: 3.7rem;
                margin-bottom: 20px;
            }

            @include responsive(sm) {
                font-size: 3rem;
                height: 3.2rem;
            }

            @include responsive(xs) {
                font-size: 2.4rem;
                height: 2.5rem;
                margin-bottom: 15px;
            }

            @include responsive(xxs) {
                font-size: 2.2rem;
            }
        }

        .typed-cursor {
            display: none;
        }

        &-phone {
            display: flex;
            align-self: center;
            color: #5cff6a;
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-size: 2.7rem;

            @include responsive(md) {
                font-size: 2.3rem;
            }

            @include responsive(sm) {
                font-size: 2rem;
            }

            @include responsive(xs) {
                font-size: 1.5rem;
            }
            @include responsive(ss){
            font-size: 1.4rem;
            }

            h3,
            span {
                font-size: inherit;
            }

            span {
                margin-left: 10px;
            }
        }
    }

    // &__main {
    //     width: 100%;
    //     height: 60vh;

    //     &-slider {
    //         height: 100%;
    //     }
    // }

    // .swiper {
    //     &-slide {
    //         position: relative;

    //         .imgbox {
    //             width: 100%;
    //             height: 100%;
    //             position: relative;
    //             img {
    //                 display: block;
    //                 width: 100%;
    //                 height: 100%;
    //                 object-fit: cover;
    //                 &::after{
    //                     position: absolute;
    //                 }
    //             }

    //         }

    //         .header__slide-info {
    //             position: absolute;
    //             z-index: 999;
    //             top: 50%;
    //             left: 18.4%;
    //             color: #fff;
    //             transform: translateY(-50%);

    //             h1 {
    //                 font-size: 32px;
    //                 text-transform: uppercase;
    //                 margin-top: 5px;
    //             }
    //         }
    //     }

    //     &-button-prev {
    //         color: rgb(255, 255, 255);
    //         left: 90px;

    //         &:after {
    //             font-size: 65px !important;
    //         }
    //     }

    //     &-button-next {
    //         color: rgb(255, 255, 255);
    //         right: 90px;

    //         &:after {
    //             font-size: 65px !important;
    //         }
    //     }

    //     .swiper-horizontal>.swiper-pagination-bullets,
    //     .swiper-pagination-bullets.swiper-pagination-horizontal {
    //         left: 50% !important;
    //         width: auto !important;
    //         background-color: #138720;
    //         padding: 10px;
    //         border-radius: 6px;
    //         transform: translateX(-50%);

    //         .swiper-pagination-bullet {
    //             width: 20px;
    //             height: 20px;
    //             background-color: #fff;
    //         }
    //     }
    // }
}