.button {
    line-height: 16px;
    font-size: 18px;
    letter-spacing: 1px;
    border-radius: $border-radius-1;
    font-weight: 500;
    border: none;
    outline: none;
    &__header{
        font-family: 'Rubik', sans-serif;
        font-size: 1.2rem;
        color: #fff;
        border: 1px solid #fff;
        background-color: transparent;
        padding: .7rem 4rem;
        margin-bottom: 35px;
        @include transition(all);
        &:hover{
            background-color: #fff;
            color: $color-black;
            box-shadow: 0px 0px 9px #fff;
        }
        @include responsive(md){
        margin-bottom: 30px;
        }
        @include responsive(sm){
         margin-bottom: 20px;
         font-size: 1.1rem;
         padding: 0.6rem 2.5rem;       
        }
        @include responsive(xs){
           padding: 0.6rem 1.5rem;
           font-size: 1rem;
           margin-bottom: 15px; 
        }
        @include responsive(ss){
            padding: 0.6rem 2rem;
        }

    }
    &__main {
        background-color: $color-green;
        color: $color-white;
        padding: 14px 34px;
        margin-top: 24px;
        @include transition(background-color);
        &:hover{
            background-color: darken($color-green,5%);
        }
    }
    &__recommend{
       @extend .card__btn;
    }
    &__order{
        border-radius: $border-radius-1;
        background-color: $color-green;
        padding: 14px 48px;
        font-size: 20px;
        color: $color-white;
        margin: 0 5px;
        @include transition(background-color);
        &:hover{
            background-color: darken($color-green,5%);
        }
        @include responsive(lg){
        padding: 14px 36px;
        }
        @include responsive(md){
        padding: 12px 32px;
        font-size: 18px;
        }
        @include responsive(sm){
       padding: 12px 20px;
        }
        @include responsive(xs){
         padding: 10px 15px;
         font-size: 16px;   
        }
        @include responsive(xxxs){
         padding: 8px 14px;   
        }
    }
    &__menu-section{
        @extend .card__btn;
        width: 100%;
        display: none;
    }
    &__sushiset{
        @extend .card__btn;
        display: none;
        width: 80%;
        @include responsive(lg){
            width: 100%;
        }
        line-height: 15px;
    }
}